<div class="content">
  <div class="container principalContainer">
    <h1 *ngIf="!isMobile" class="name">Bruno Jular</h1>
    <h1 *ngIf="isMobile" class="name">Bruno Jular</h1> 
    <div class="row rowPhto">
      <!--  -->
      <div *ngIf="!isMobile" class="col-md-3 textColLeft">
        <h3>Nacimiento</h3>
        <h3>Ubicación</h3>
        <h3>Título</h3>
      </div>
      <div *ngIf="!isMobile" class="col-md-3 textCol">
         <div class="vl"><h3 style="margin-left: 0.5em;"> 23/06/2000</h3></div>
         <div class="vl"><h3 style="margin-left: 0.5em;"> Córdoba - Argentina</h3></div>
         <div class="vl"><h3 style="margin-left: 0.5em;"> Técnico Programador - ITS Villada</h3></div>
      </div>
      <!--  -->
      <div class="col-md-6 col-sm-12 photoCol">
        <img src="assets/img/perfilR.jpg" alt="Avatar"> 
      </div>

      <div *ngIf="isMobile" class="col-12 textCol">
        <div class="vl"><h3 style="margin-left: 0.5em;">Nacimiento: 23/06/2000</h3></div>
        <div class="vl"><h3 style="margin-left: 0.5em;">Ubicación: Córdoba - Argentina</h3></div>
        <div class="vl"><h3 style="margin-left: 0.5em;">Título: Técnico Programador - ITS Villada</h3></div>
      </div>

    </div>
    <!--  -->
    <hr>
    <div class="row rowBars">

      <div class="container">
        <h1>Aptitudes</h1>

        <div class="container">
          <!-- ------------ -->
          <h2 class="m-2">Lenguajes de programación</h2>
          <!--  -->
          <div class="m-4">
            <h3>Python</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Java</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>ES6</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Html</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Css</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!-- ------------ -->
          <h2 class="m-2">Herramientas</h2>
          <!--  -->
          <div class="m-4">
            <h3>GitHub</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Docker</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Excel</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Firebase</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Bootstrap</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!-- ------------ -->
          <h2 class="m-2">Frameworks</h2>
          <!--  -->
          <div class="m-4">
            <h3>Django</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>AndroidStudio</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>ArduinoIDE</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Ionic 3</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Angular</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!-- ------------ -->
          <h2 class="m-2">Data</h2>
          <!--  -->
          <div class="m-4">
            <h3>SQL</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>MongoDB</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!-- ------------ -->
          <h2 class="m-2">Diseño</h2>
          <!--  -->
          <div class="m-4">
            <h3>Inkscape</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Gimp</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Blender</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>OpenShot</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Audacity</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!-- ------------ -->
          <h2 class="m-2">Electromecánica</h2>
          <!--  -->
          <div class="m-4">
            <h3>Interpretación de planos</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Torno</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Fresa CNC</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Soldadura oxiacetilénica</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3> Soldadura de metal por arco</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!-- ------------ -->
          <h2 class="m-2">Idiomas</h2>
          <!--  -->
          <div class="m-4">
            <h3>Inglés</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Alemán</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!--  -->
          <div class="m-4">
            <h3>Portugués</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row rowAct">
      <div class="container">
        <h1 style="color:black;">Actitudes</h1>
        <div *ngIf="!isMobile" class="row">
          <div class="col-md-6 col-12 colLeft">
            <h2>
              Destaco para trabajar en 
              grupos <
              <br>
              Organizado <
              <br>
              Esencia de emprendedor <
              <br>
              Entusiasta por aprender <

            </h2>   
          </div>
          <div class="col-md-6 col-12">
            <h2>
              > Tranquilo en momentos 
              de tensión
              <br>
              > Práctico
              <br>
              > Eficaz
            </h2>
          </div>
        </div>
        <div *ngIf="isMobile" class="row">
          <h2 style="padding: 1em;">
            > Destaco para trabajar en 
            grupos
            <br>
            > Organizado
            <br>
            > Esencia de emprendedor
            <br>
            >Entusiasta por aprender
            <br>
            > Tranquilo en momentos 
            de tensión
            <br>
            > Práctico
            <br>
            > Eficaz
          </h2>
        </div>
      </div> 
    </div> 
    <hr>
    <div class="row">
      <div class="container">
        <h1>Experiencia</h1>
        <div class="rowCollapsible">
          <!--  -->
          <div class="row rows">
            <button type="button" (click)="openXp('hideXp1')" class="btn btn-secondary">
              <i *ngIf="hideXp1" class="fa fa-chevron-right m-2"></i>
              <i *ngIf="!hideXp1" class="fa fa-chevron-down m-2"></i>
              IncluIT: Pasantías estudiantiles
            </button>
          </div>
          <div [hidden]="hideXp1" class="rowsText">
            <h2>2 al 27 de Julio del 2018</h2>
            <h3>Tecnología: Django</h3>
            <p>
                > IncluIt: Humberto 1° 670, Córdoba. 
                <br>
                > Scrum Master, Analista en sistemas, Tester. 
                <br>
                > Trataba sobre la digitalización de la toma de asistencia para el colegio.
            </p>
            <hr>
            <a target="_blank" href="https://github.com/Grupo2Villada/proyectoFAT">GitHub</a> 
          </div>
          <!--  -->
          <div class="row rows">
            <button type="button" (click)="openXp('hideXp2')" class="btn btn-secondary">
              <i *ngIf="hideXp2" class="fa fa-chevron-right m-2"></i>
              <i *ngIf="!hideXp2" class="fa fa-chevron-down m-2"></i>
              PillDose
            </button>
          </div>
          <div [hidden]="hideXp2" class="rowsText">
            <h2>Jornada estudiantil 2018</h2>
            <h3>Tecnología: Java - AndroidStudio</h3>
            <p>
                > Realización de una app de android para la materia Aplicación de nuevas tecnologías.
                <br>
                > Programación de aplicación para un “dispositivo pastillero” junto al area de electrónica.
                <br>
                > Aplicación para personal a cargo de uno o varios pacientes. Permite programar según 
                un horario, la toma adecuada de medicación en personas con trastornos conductuales
                o con pérdida de memoria. Mediante bluetooth se envía la información de manera tal,
                que quede configurado cada pastillero. 
            </p>
            <hr>
            <a target="_blank" href="https://github.com/JularBruno/PillDose">GitHub</a> 
          </div>
          <!--  -->
          <div class="row rows">
            <button type="button" (click)="openXp('hideXp3')" class="btn btn-secondary">
              <i *ngIf="hideXp3" class="fa fa-chevron-right m-2"></i>
              <i *ngIf="!hideXp3" class="fa fa-chevron-down m-2"></i>
              TheFitPack
            </button>
          </div>
          <div [hidden]="hideXp3" class="rowsText">
            <h2>Junio a Septiembre 2018</h2>
            <h3>Tecnología: WordPress</h3>
            <p>
                > Trabajo virtual con cliente residiendo en Barcelona, España.
                <br>
                > Realización de una página de presentación, demostración y organización de
                clases de un gimnasio al aire libre. 
            </p>
            <hr>
            <a target="_blank" href="https://thefitpack.com/">TheFitPack</a> 
          </div>
          <!--  -->
          <div class="row rows">
            <button type="button" (click)="openXp('hideXp4')" class="btn btn-secondary">
              <i *ngIf="hideXp4" class="fa fa-chevron-right m-2"></i>
              <i *ngIf="!hideXp4" class="fa fa-chevron-down m-2"></i>
              Personal en servicio de eventos
            </button>
          </div>
          <div [hidden]="hideXp4" class="rowsText">
            <p>
                > Armado de salón y atención de los invitados al evento.
                <br>
                > Salón Avril – Temporada diciembre 2017 y diciembre a febrero 2018.
                <br>
                > Barrancas del Chateau, Salón de eventos – Evento diciembre 2018.
                <br>
                > Estancia Causana – Evento abril 2018 .
                <br>
            </p>
            <hr>
          </div>
          <!--  -->
          <div class="row rows">
            <button type="button" (click)="openXp('hideXp5')" class="btn btn-secondary">
              <i *ngIf="hideXp5" class="fa fa-chevron-right m-2"></i>
              <i *ngIf="!hideXp5" class="fa fa-chevron-down m-2"></i>
              Empresa familiar: MC Gomas
            </button>
          </div>
          <div [hidden]="hideXp5" class="rowsText">
            <p>
                > Negociación con clientes.
                <br>
                > Transporte de productos y paquetes.
                <br>
                > Compra de materia prima.
                <br>
                > Organización y coordinación de personal.
                <br>
                > Distribución de actividades.
                <br>
                > Administración, gestión en general.
                <br>
                > Control y actualización de precios.
                <br>
                > Control de calidad.
                <br>
                > Realización de trabajos particulares en matricería y piezas de caucho. 
                <br>
            </p>
            <hr>
          </div>
          <!--  -->
          <div class="row rows">
            <button type="button" (click)="openXp('hideXp6')" class="btn btn-secondary">
              <i *ngIf="hideXp6" class="fa fa-chevron-right m-2"></i>
              <i *ngIf="!hideXp6" class="fa fa-chevron-down m-2"></i>
              Diproach - Actualidad
            </button>
          </div>
          <div [hidden]="hideXp6" class="rowsText">
            <h2>Julio 2019 - Actualidad</h2>
            <h3>Tecnologías principales: Ionic - Angular</h3>
            <p>
                > Ubicación: Recta Martinolli 8512, Freelo Coworking
                <br>
                > Realización del proceso completo de una aplicación/página web: Toma de requerimientos a MockUp,
                comprobación con el cliente, esquematización y programación de la base de datos, 
                maquetación del Front-end, integración del Back-end, subida a producción.
                <br>
                > Logro: mi interiorización en la empresa llevó a que mis superiores se 
                pudieran concentrar solo en buscar nuevos clientes y no en la producción
            </p>
            <hr>
            <a target="_blank" href="http://www.diproach.com/">Diproach</a> 
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="container containerContact"> 
        <h1>Contacto</h1>
        <!-- <h3>GitHub de ésta página</h3> -->
        <h2>-</h2>
        <!-- <h2><i class="fa fa-phone"></i> Teléfono: +54 9 3512613917</h2> -->
        <h2><i class="fa fa-phone"></i> Teléfono: <a href="tel:+54 9 3512613917">+54 9 3512613917</a></h2>
        <h2><i class="fa fa-envelope"></i> E-mail:<a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=brunojular00@gmail.com"> brunojular00@gmail.com</a> </h2>
        <h2><i class="fa fa-instagram"></i> Instagram:<a target="_blank" href="https://www.instagram.com/brunojular/"> @brunojular</a> </h2>
      </div>
    </div>
  </div>
</div>