@import "../../../assets/variables";

.imgEnterprise {
    width: 9em;
    height: 3em;
    @media (max-width: 576px) {
        width: 5em;
        height: 2em;
    }
}

.vl {
    border-left: 1px solid white;

    @media (max-width: 576px) {
        margin-top:4vh;
        margin-left:3vh;
    }
}

.button-mobile {
    @media (max-width: 576px) {
        margin-bottom:2vh;
    }
}

.middle-row {
    background-color: $color_1;
    color: $color_4;
    font-size: 100%;
    min-height: 6rem;
    align-items: center;
    display: flex;
}

.template {
    background-color: $color_1;
}

//
.stepMobile {
    font-size: 1.5rem;

}

.progress-row {
    background: $background_light;

    .progress-container {
        height: 10vh;
        align-items: center;

        .progress-step {
            align-items: center;
            display: flex;
            padding-left: 0em;
            padding-right: 0em;

            .badge {
                font-size: 1.5rem;
                line-height: 1.8rem;
                margin-right: 1rem;
                background: $color_2;
                @media (max-width: 576px) {
                    font-size: 3rem;
                } 
            }

            .text {
                font-size: 1.2rem;
                color: $mediumgray;
                font-weight: 300;
            }

            &.active {
                .badge {
                    background: $color_1;
                }

                .text {
                    color: $dark;
                    font-weight: 700;
                }
            }
            // @media (max-width: 576px) {
            //     font-size: 1rem;
            // }
        }

        .progress-step:first-child {
            
            .badge {
                padding-left: 0.7em;
                padding-right: 0.7em;
            }

            .text {
                margin-right: 1rem;
            }

            hr {
                width: 100%;
                display: flex;
            }
        }

        .progress-step:nth-child(2) {
            .badge {
                margin-left: 1rem;
            }

            .text {
                margin-right: 1rem;
                min-width: 120px;
            }

            hr {
                width: 30%;
                display: flex;
            }
        }

        .progress-step:last-child {
            justify-content: center;

            .badge {
                margin-right: 1rem;
                margin-left: 1rem;
            }

            .text {
                margin-right: 1rem;
            }

            hr {
                width: 100%;
                display: flex;
            }
        }
    }
}

.detail-row {
    margin-top: 1rem;
    // padding-right: 1em;
    // padding-left: 1em;

    .item {
        @media (max-width: 576px) {
            background: white;
            text-align: center;
        }

        .title {
            font-size: 1.3rem;
            @media (max-width: 576px) {
                font-size: 1rem;
                margin-top: 0.4em
            }
        }

        @media (max-width: 576px) {
            div {
                padding-top: 0.3em;
                min-height: 5em;
            }
        }

        @media not all and (max-width: 576px) {
            div {
                background: white;
                border: 1px solid lightgray;
                border-radius: 10px;
                color: $dark;
                padding: 1rem;
            }
        }
    }
}

.modal {
    max-width: 95%;
}