<div class="content-container">
  <div class="container">
  <div class="row justify-content-md-center align-items-center progress-row">
    <div class="container">
      <!-- <h2>{{pageTitle}}</h2> -->
      
       <div class="d-none d-sm-block">
        <div class="row progress-container">
          <div class="progress-step col-4 text-left" [ngClass]="{active: advance == '1'}">
            <span class="badge badge-pill">1</span>
            <span class="text">Cotizaciones</span>
            <hr>
          </div>
          <div class="progress-step col-4 text-center" [ngClass]="{active: advance == '2'}">
            <hr>
            <span class="badge badge-pill">2</span>
            <span class="text">Datos pólizas</span>
            <hr>
          </div>
          <div class="progress-step col-4 text-right" [ngClass]="{active: advance == '3'}">
            <hr>
            <span class="badge badge-pill">3</span>
            <span class="text">Finalizar</span>
          </div>
        </div>
      </div>

      <div class="d-block d-sm-none">
        <div class="row progress-container align-items-center text-center">
          <div class="col-12">
            <div *ngIf="advance == '1'">
              <div class="progress-step col-4 text-center" class="active" >
                <span class="badge badge-pill badge-primary stepMobile">1</span>
                <span class="text stepMobile">Cotizaciones</span>
              </div>
            </div>
            <div *ngIf="advance == '2'">
              <div class="progress-step col-4 text-center stepMobile" class="active">
                <span class="badge badge-pill badge-primary stepMobile">2</span>
                <span class="text stepMobile">Datos pólizas</span>
              </div>
            </div>
            <div *ngIf="advance == '3'">
              <div class="progress-step col-4 text-center stepMobile" class="active">
                <span class="badge badge-pill badge-primary stepMobile">3</span>
                <span class="text stepMobile">Finalizar</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <div class="middle-row" [hidden]="!secondShower">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-xs-12 my-xs-2 col-md-4 vl">
          <p class="mb-1">Tipo Seleccionado</p>
          <h3> {{type}} </h3>
        </div>
        <div class="col-md-4 vl">
          <p class="mb-1">Suma Asegurada</p>
          <h3>${{amount}}</h3>
        </div>
        <div class="col-md-4">
          <div class="row  justify-content-end button-mobile">
            <button type="button" class="btn btn-outline-light mr-2 " (click)=openModal(contact)>
              <i class="fa fa-info-circle fa-lg"></i>
              Conocé mas
            </button>
            <!-- <button type="button" class="btn btn-outline-light">
              <i class="fa fa-pencil-square-o fa-lg"></i>
              Editar
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="detail-row">
    <div class="container" [hidden]="!shower">

      <div class="row justify-content-center align-items-center detail-container">
        <!-- <div class="container"> -->
          <div class="item col-4 text-left pr-2" >
            <div>
              
              <h2 class="title">Aseguradora</h2>


                <img *ngIf="enterprise == 'Chubb'" alt="" class="imgEnterprise"
                  src="http://www.hospitalrojas.com.mx/wp-content/uploads/2019/02/Chubb-Logos-PNG-Vector.png">

                <img *ngIf="enterprise == 'Sura'" alt="" class="imgEnterprise" src="../../assets/img/logo-sura-acg.png">

                <img *ngIf="enterprise == 'Credito y Caucion'" alt="" class="imgEnterprise" src="../../assets/img/credito-y-caucion.png">
              
            </div>
          </div>
          <div class="item col-4">
            <div>
              <h2 class="title">Costo </h2>
              <h3>${{cost}}</h3>
            </div>
          </div>
          <div class="item col-4">
            <div>
              <h2 class="title">Gastos </h2>
              <h3>${{expenditure}}</h3>
            </div>
          </div>
        <!-- </div> -->
      </div>

    </div>
  </div>
</div>

<ng-template #contact class="template-mobile">
  <div class="text-dark ">

    <div *ngIf="type == 'Garantías D&G'">
      <div class="modal-header template text-light">
        <h4 class="modal-title pull-left">Garantías D&G</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span class="text-light" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container text-center align-items-center ">
        <img alt="" class="img-fluid my-4"
          src="https://www.liveabout.com/thmb/33Or5ErVYO9RbMSCi9oi9i_qnZU=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-124360764-581674075f9b581c0b41d4c1.jpg">
        <p>Seguro de responsabilidad para Directores y Gerentes ofrece cobertura ante posibles reclamos derivados de acciones u
        omisiones gerenciales o directivas. Puedes contar con la experiencia y solidez financiera de Chubb para proteger tu
        patrimonio, reputación y el de tu empresa contra imprevistos administrativos y financieros.</p>
      </div>
    </div>
    <div *ngIf="type == 'Garantías inscripción Importadores/Exportadores'">
      <div class="modal-header template text-light">
        <h4 class="modal-title pull-left">Garantías inscripción Importadores/Exportadores</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span class="text-light" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container text-center align-items-center ">
        <img alt="" class="img-fluid my-4"
        src="https://bucket3.glanacion.com/anexos/fotos/06/2783006w380.jpg">
          <div class="container">
          <p>Un instrumento indispensable en la operatoria habitual de un importador - exportador al momento de garantizar sus
            obligaciones frente a la Aduana. Las coberturas más habituales son Tránsito Terrestre, Importaciones Temporales,
            Diferencias de Derechos, entre otras.</p>
          </div>
      </div>
    </div>
    <div *ngIf="type == 'Garantías aduaneras'">
      <div class="modal-header template text-light">
        <h4 class="modal-title pull-left">Garantías aduaneras</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span class="text-light" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container text-center align-items-center ">
        <img alt="" class="img-fluid my-4"
          src="https://img.vixdata.io/pd/jpg-large/es/sites/default/files/imj/e/excelentes-utilidades-para-los-containers.jpg">
        <p>Las pólizas de garantías aduaneras, cubren según sus distintas modalidades los aranceles impositivos y las multas.
          Las siguientes son algunas de las coberturas que, con diferentes variantes, encuadran dentro de la operatoria aduanera:
          <br>
          - <u>Tránsito Terrestre:</u> se cubren los derechos de importación de mercaderías ingresadas con destino a otra aduana de
          despacho o de salida del país.
          <br>
          - <u>Falta de Documentación:</u> permite al importador el retiro de la mercadería sin demoras, garantizando la posterior
          presentación de la documentación de embarque.
          <br>
          - <u>Importación Temporal:</u> permite a exportadores la incorporación de insumos importados a sus productos sin abonar los
          derechos de importación, garantizando su posterior reexportación.
          <br>
          - <u>Diferencias de Derechos:</u> utilizable cuando se presentan controversias sobre las tasas o derechos aplicables.
        </p>
      </div>
    </div>
  </div>
</ng-template>